*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

.container-fluid{
  padding:0;
}

textarea{
  height: 250px !important;
  outline: none !important;
  box-shadow: none;
  resize: none;
}

.row{
  margin: 0 0;
}

.left{
  background:#4A4A4A;
}
.left h1{
color:#fff;
}
.list-group-item{
 background:none;
}

.list-group-item a{
  font-size:0.8rem;
  color:white;
  text-decoration:none;
}

.list-group-item a:hover{
  color:#FF6600;
}

